---
http_interactions:
- request:
    method: get
    uri: http://api.fyber.com/feed/v1/offers.json?appid=157&device_id=2b6f0cc904d137be2e1730235f5664094b83&hashkey=54e34c86dfedbe707c2b13d6841fa882d1f16df6&ip=109.235.143.113&locale=de&offer_types=112&pub0=campaign2&timestamp=1444019276&uid=player1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Sponsorpay-Response-Signature:
      - dfdf77407988a43df88c0f7b5f3bd12b0a7a56c5
      X-Sponsorpay-Response-Code:
      - NO_CONTENT
      Etag:
      - W/"0ae9ad94e7a8e0c1b3785a9776356c1d"
    body:
      encoding: ASCII-8BIT
      string: '{"code":"NO_CONTENT","message":"Successful request, but no offers are
        currently available for this user.","count":0,"pages":0,"information":{"app_name":"Demo
        iframe for publisher - do not touch","appid":157,"virtual_currency":"Coins","country":"DE","language":"DE","support_url":"http://offer.fyber.com/mobile/support?appid=157&client=api&uid=player1"},"offers":[]}'
  recorded_at: Mon, 05 Oct 2015 04:27:58 GMT
recorded_with: VCR 2.9.3
